
body{
    background-color: black;
}

.vidj{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagePlace{
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.auth{
    position: absolute;
    right: 0;
    padding-right: 60px;
}

.vidjets{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.vid{
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  color: var(--link_un_active);
  margin-left: 15px;
  margin-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: .2s;
  fill: var(--link_un_active);
  color: whitesmoke;
  text-decoration: none;
}

.mainPage{
  display: flex;
  flex-direction: row;
}

.mainImage{
  padding-top: 20px;
  padding-left: 400px;
  width: 1000px;
}

.animeWatcher{
  text-decoration: none;
  color: whitesmoke;
}

.animeTitle {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: whitesmoke;
}

.animeFil{
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: whitesmoke;
}

.animeFil:hover{
  color: red;
}

.animeTitle:hover{
  color: red;
}

.animeDescription {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}


.popularAnime {
  display: flex;
  flex-direction: column;
  padding-left: 230px;
  padding-top: 30px;
}

.vid:hover{
  color: rgb(255, 1, 1);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color:aliceblue;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 470px;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.login-content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}

.log-input{
    height: 40px;
    margin-bottom: 30px;
}

.pas-input{
    height: 40px;
    width: 364px;
}

.forgetP{
    margin-top: 15px;
    margin-left: 330px;
    text-decoration: none;
    font-size: 10px;
    color: gray;
}

.forgetP:hover,
.forgetP:focus {
    color: blue;
  }

.sign-in{
    margin-left: 220px;
    margin-top: 70px;
    margin-right: 20px;
}

.password-container {
    position: relative;
  }
  
  .custom-input {
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  
  .custom-input input {
    padding-right: 30px;
  }
  
  .password-toggle {
    cursor: pointer;
    position: absolute;
    right: 5px;
  }
  
  .password-toggle-img {
    width: 20px;
    height: 20px;
  } 
   
  form {
    position: relative;
    width: 200px;
}

.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-right: 20px;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:0 auto;
  display: block;
  margin-top: 20px;
  padding-left: 20px;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}


.likes-dislikes-line {
  width: 100%;
  height: 10px;
}

.likes {
  height: 100%;
  background-color: green;
  float: left;
}

.dislikes {
  height: 100%;
  background-color: red;
  float: left;
}

.animeIcon{
  margin-bottom: 70px;
}

.animeLikes{
  color: green;
}

.animeDislikes{
  color: red;
}

.top{
  float: inherit;
  color: darkblue;
}

.error-message{
  color:red;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.email{
  font-size: 15px;
  padding-right: 15px;
}

.nickname{
  padding-right: 20px;
  color: whitesmoke;
  font-family: Noto Sans,sans-serif;
    box-sizing: border-box;
}

.nickname:hover{
  color: red;
}

 /* banner */

.bigBanner {
  width: 100%;
  background: #0e0e0e;
  overflow: hidden;
  position: relative;
  height: 90vh;
}

.big_banner_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.big_banner_text {
  opacity: 1;
  transition: .3s;
}

element.style {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}
.big_banner_image, .big_banner_image_gradient {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
}
.big_banner_image {
  object-fit: cover;
  background-position: 50%;
}

.big_banner_button_mute_container.hidden {
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.big_banner_button_mute_container {
  right: 10vh;
  transition: .3s;
}
.big_banner_button_container, .big_banner_button_mute_container {
  position: absolute;
  bottom: 50px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}

.big_banner_search_rank {
  display: flex;
  font-size: 2vh;
  font-weight: 700;
  justify-content: start;
  text-justify: auto;
  margin-right: 0.5vh;
}

.big_banner_genres {
  font-size: 2vh;
  font-weight: 300;
  color: #d3d3d3;
  white-space: nowrap;
  z-index: 5;
}

.big_banner_text_description {
  margin-top: 0.5vh;
  max-width: 40%;
  font-size: 2.5vh;
  color: #eaeaea;
}

.big_banner_text_header_video.hidden {
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}
.big_banner_text_header_video {
  position: absolute;
  z-index: 20;
  color: #fff;
  left: 10vh;
  bottom: 130px;
  font-size: 4vh;
  font-weight: 700;
  white-space: nowrap;
  transition: .3s;
}

.big_banner_text_header {
  font-size: 7vh;
  font-weight: 700;
  white-space: nowrap;
  padding-bottom: 10px;
}

.catalog_info_rank_genres_container {
  display: flex;
  align-items: center;
  margin-top: 0.5vh;
  padding-bottom: 20px;
}

.big_banner_button_container, .big_banner_button_mute_container {
  position: absolute;
  bottom: 50px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.big_banner_button_container {
  left: 10vh;
}
.big_banner_text_container {
  position: absolute;
  z-index: 2000;
  color: #fff;
  font-family: Noto Sans,sans-serif;
  font-size: 15px;
  left: 10vh;
  top: 40%;
}

.catalog_info_watch_button {
  display: flex;
  justify-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  font-weight: 600;
  height: 52px;
  border-radius: 100rem;
  white-space: nowrap;
  background: linear-gradient(135deg,var(--accent-color) 69.91%,#d60060);
  margin-right: 15px;
  transition: .3s;
}
.catalog_info_watch_button.more_detailed {
  cursor: pointer;
  background: #1e1d1e;
}

.big_banner_text_header,
.big_banner_search_rank,
.big_banner_genres,
.big_banner_text_description {
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-1 {
  background-color: #bb859a;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

