body{
    background-color: #85837e;
}

.vidj{
    display: flex;
    flex-direction: row;
}

.imagePlace{
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.auth{
    position: absolute;
    right: 0;
    padding-right: 60px;
    padding-top: 30px;
}

.vidjets{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.vid{
    font-size: 17px;
    color: blue;
    padding-left: 40px;
    text-decoration: none;
    outline: none;
}

.mainPage{
  display: flex;
  flex-direction: row;
}

.mainImage{
  padding-top: 20px;
  padding-left: 850px;
  width: 1000px;
}

.animeTitle {
  font-weight: bold;
}

.animeDescription {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}


.popularAnime {
  display: flex;
  flex-direction: column;
}


.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color:aliceblue;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 470px;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.login-content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}

.log-input{
    height: 40px;
    margin-bottom: 30px;
}

.pas-input{
    height: 40px;
    width: 364px;
}

.forgetP{
    margin-top: 15px;
    margin-left: 330px;
    text-decoration: none;
    font-size: 10px;
    color: gray;
}

.forgetP:hover,
.forgetP:focus {
    color: blue;
  }

.sign-in{
    margin-left: 220px;
    margin-top: 70px;
    margin-right: 20px;
}

.password-container {
    position: relative;
  }
  
  .custom-input {
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  
  .custom-input input {
    padding-right: 30px;
  }
  
  .password-toggle {
    cursor: pointer;
    position: absolute;
    right: 5px;
  }
  
  .password-toggle-img {
    width: 20px;
    height: 20px;
  } 
   
  form {
    position: relative;
    width: 200px;
}

.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-right: 20px;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:0 auto;
  display: block;
  margin-top: 20px;
  padding-left: 20px;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}