.profile-container {
  display: flex;
  align-items: flex-start;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: grey;
  border-radius: 12px;
  margin-top: 50px;
}
  
  .profile-title {
    font-size: 24px;
    text-align: center;
  }

  .profile-info {
  flex: 1;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}
  
  .profile-item {
    margin-bottom: 10px;
  }
  
  .profile-label {
    font-weight: bold;
    
  }
  
  .profile-label::after {
    content: ':';
  }
  
  .profile-label,
  .profile-item {
    font-size: 25px;
  }
  
  .button-7 {
    background-color: black;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 5px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-7:hover,
  .button-7:focus {
    background-color: #07c;
  }
  
  .button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-7:active {
    background-color: #0064bd;
    box-shadow: none;
  }
  
  .buttons {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .photoAv {
    width: 300px; 
    height: auto;
    border-radius: 8px;
  }

  .photo-container {
    margin-right: 20px;
    margin-top: 100px;
  }

  .profile-info {
  flex: 1;
}

.error-item{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.error-item div {
  margin-bottom: 30px; 
}

.edit-field{
  font-size: 25px;
}